NOCODB_API_TOKEN=
NOCODB_BASE_URL=
NOCODB_TABLE_ID=
# Tabel voor vooraanmeldingen hackathon #2 (heeft al een default in de code)
NOCODB_PREREGISTER_TABLE_ID=mvaviytk173s944
PORT=3000
SHOW_LAUNCH_PAGE=OFF
