services:
  web:
    build: .
    expose:
      - "3000"
    environment:
      - NOCODB_API_TOKEN=${NOCODB_API_TOKEN}
      - PORT=3000
      - SHOW_LAUNCH_PAGE=${SHOW_LAUNCH_PAGE:-OFF}
    restart: unless-stopped
